package components

templ Stream() {
  <button class="bg-primary color-text px-4 py-2 m-2 shadow rounded" onclick="fullscreen()">Fullscreen</button>
  <video id="stream" class="w-full h-full border-primary object-contain" autoplay controls>
    <source src="public/stream.webm" type="video/webm" />
  </video>
  @Keyboard()
  <script>join()</script>
}
